<div class="bg-container secret-question">
    <div class="container">
        <div class="secret-question-form">
          <h3 class="title">Secret Questions</h3>
          <div style="margin-top: 15px; display: flex; justify-content: center;">
            <form [formGroup]="secretQuestionForm" (ngSubmit)="onSubmit()">
                <div class="field-container">   
                    <app-custom-dropdown formControlName="question1" [selectedOption]="'Select a Secret Question'" [options]="['What was the name of your first pet?','What is your mother’s name?','What city were you born in?','What is the name of the first school you attended?','What is your favorite movie or TV show?','Who is your favorite teacher or mentor?','What city were you born in?','What is the name of your childhood best friend?']"></app-custom-dropdown>
                    <div class="error-message" *ngIf="secretQuestionForm.get('question1')?.invalid && secretQuestionForm.get('question1')?.touched">
                        <span *ngIf="secretQuestionForm.get('question1')?.errors?.['required']">Please selelct question.</span>
                    </div>
                </div>
                <div class="field-container">
                    <input type="text" formControlName="answer1" class="input-field" placeholder="Answer">
                    <div class="error-message" *ngIf="secretQuestionForm.get('answer1')?.invalid && secretQuestionForm.get('answer1')?.touched">
                        <span *ngIf="secretQuestionForm.get('answer1')?.errors?.['required']">Answer is required.</span>
                    </div>
                </div>
                <div class="field-container" style="margin-top: 30px;">
                    <app-custom-dropdown formControlName="question2" [selectedOption]="'Select a Secret Question'" [options]="['What was the name of your first pet?','What is your mother’s name?','What city were you born in?','What is the name of the first school you attended?','What is your favorite movie or TV show?','Who is your favorite teacher or mentor?','What city were you born in?','What is the name of your childhood best friend?']"></app-custom-dropdown>
                    <div class="error-message" *ngIf="secretQuestionForm.get('question2')?.invalid && secretQuestionForm.get('question2')?.touched">
                        <span *ngIf="secretQuestionForm.get('question2')?.errors?.['required']">Please selelct question.</span>
                    </div>
                </div>
                <div class="field-container">
                    <input type="text" formControlName="answer2" class="input-field" placeholder="Answer">
                    <div class="error-message" *ngIf="secretQuestionForm.get('answer2')?.invalid && secretQuestionForm.get('answer2')?.touched">
                        <span *ngIf="secretQuestionForm.get('answer2')?.errors?.['required']">Answer is required.</span>
                    </div>
                </div>
                <div style="text-align: center; padding-top: 50px;">
                    <a routerLink="/auth/verification/address" class="continue-btn">Done</a>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>    
