<section class="bid-list-banner-section bg-img"  style="background-image: url('../assets/images/bid-list-banner.png');"></section>
<section class="product-details bids-details padding-bottom mt--240">
    <div class="container">
        <div class="slider-container" data-aos="zoom-out-up" data-aos-duration="1100">
            <div class="main-image">
                <img class="star" alt="Favorite Star" (click)="toggleFavorite()"
                  [src]="(auction?.IsFavorite) ? '../assets/images/bids-details/marked-star.png' : '../assets/images/bids-details/star.png'" >
                <div class="status">Promote Ad</div>
                <img *ngIf="auction.Medias.length > 0" id="mainImg" [src]="(auction.Medias) ? auction?.Medias[0]?.BasePath + auction?.Medias[0]?.ThumbPath : ''" alt="Main Image">
            </div>
        </div>

        <div class="bid-details sliding-section">
            <div class="thumbnails">
                <ng-container *ngFor="let car of auction.Medias;">
                    <img [src]="car.BasePath + car.ThumbPath" onclick="changeImage(this.src)" alt="Thumbnail">
                </ng-container>
            </div>
        </div>

        <div class="row mt-40-60-80">
            <div class="col-lg-6">
                <div class="product-details-content">
                    <div class="product-details-header">
                        <h2 class="title">Hyundai Sonata</h2>
                    </div>
                    <div>
                       <h5 style="margin-bottom: 5px;">Description</h5> 
                       <div style="color: black; font-size: 14px;">
                        {{auction.Description}}
                       </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-sidebar-details mb-3">
                    <div class="box">
                        <h6>Sold By: {{auction.User.UserName}}</h6>
                        <div class="info"><img src="../assets/images/bids-details/visitors.png" alt=""> Number of visitors: <span style="margin-left: auto;color: rgba(237, 28, 36, 1);">{{auction?.TotalVisitors}}</span></div>
                        <div class="info"><img src="../assets/images/bids-details/cars.png" alt=""> Number Of Cars Sold: <span style="margin-left: auto;color: rgba(237, 28, 36, 1);">{{auction?.User?.TotalCarsSold}}</span></div>
                        <div class="info rating"><img src="../assets/images/bids-details/rate.png" alt=""> Rating of the seller: 
                            <app-rating style="margin-left: auto;" [rating]="userRating" [readOnly]="true"></app-rating>
                        </div>
                    </div>
                    <div class="box">
                        <div class="section-2">
                            <div>
                                <div>Maker</div>
                                <div>Posted on</div>
                                <div>Country</div>
                                <div>Transmission</div>
                                <div>Engine Type</div>
                            </div>
                            <div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                            </div>

                            <div>
                                <div>{{auction?.Manufacturer?.Name}}</div>
                                <div>{{auction?.CreatedAt}}</div>
                                <div>{{auction?.Country || '-'}}</div>
                                <div>{{auction?.Transmission}}</div>
                                <div>{{auction?.EngineType}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bid-section">
                    <div class="certificate">
                      <a (click)="openCertificate()">Certificate of Conformity</a>
                    </div>
                    <div class="bid-area">
                        <div class="bid-amount">
                            <div class="icon">
                                <img src="../assets/images/auction-bid-green.png" alt="">
                            </div>
                            <div class="amount-content">
                                <div class="current">Current Bid</div>
                                <div class="amount">${{auction.StartingPrice}}</div>
                            </div>
                        </div>
                        <div class="seperator"></div>
                        <div class="bid-amount">
                            <div class="icon">
                                <img src="../assets/images/auction-bid-amount.png" alt="">
                            </div>
                            <div class="amount-content">
                                <div class="current buy-now">Buy Now</div>
                                <div class="amount">${{auction.BuyNowPrice}}</div>
                            </div>
                        </div>
                        <div class="bid-amount">
                            <div class="amount-content">
                                <div class="current" style="font-size: 20px;">{{auction?.Bids?.length}} Bids</div>
                            </div>
                        </div>
                    </div>
                    <div class="shipping" data-toggle="modal" data-target="#shipping-modal">
                      <a class="shipping-rates">(Shipping Rates)</a>
                    </div>
                </div>
                <div class="social-section">
                    <div>
                         <div>Payment options</div>
                         <div>
                            <img src="../assets/images/bids-details/payment-card.png" alt="">
                            <img src="" alt="">
                         </div>
                    </div>
                    <div>
                        <div>Share</div>
                          <div>
                            <img src="../assets/images/bids-details/facebook.png" alt="">
                            <img src="../assets/images/bids-details/instagram.png" alt="">
                            <img src="../assets/images/bids-details/twitter.png" alt="">
                            <img src="../assets/images/bids-details/linkedin.png" alt="">
                          </div>
                    </div>
                    <!-- <div>
                        <div>Jhon hanter:$800</div>
                        <div>Kiwe may:$600</div>
                        <div>Alina tom:$400</div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="auction-container">
            <input type="number" min="1" [(ngModel)]="bidAmount" placeholder="Enter your bid amount" class="bid-input">
            <button class="bid-btn" (click)="submitBid()">Submit a bid</button>
            <button class="buy-btn">Buy Now $24,000</button>
            <div class="timer">
                <div style="font-size: 10px; color: black;">{{this.auction.status}}</div>
                <div class="countdown-area">
                    <div class="times">
                        <ng-container *ngIf="auction.status === 'This Auction Ends In:'">
                            <p>{{auction.remainingTime.days}}d</p><span style="font-weight: 700;">:</span>
                            <p>{{auction.remainingTime.hours}}h</p> <span style="font-weight: 700;">:</span>
                            <p>{{auction.remainingTime.minutes}}m</p> <span style="font-weight: 700;">:</span>
                            <p>{{auction.remainingTime.seconds}}s</p>
                        </ng-container>
                    </div>                                                  
                </div>
            </div>
        </div>
    </div>
    <div class="container bid-user-details">
        <div class="item">
            <h5 class="title">Description</h5>
            <div class="history-table-area" data-aos="zoom-out-down" data-aos-duration="1100">
                <table class="history-table">
                    <thead>
                        <tr>
                            <th>Bidder</th>
                            <th>date</th>
                            <th>time</th>
                            <th>unit price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngIf="auction?.Bids?.length > 0">
                            <tr *ngFor="let bid of auction.Bids">
                                <td data-history="bidder">
                                    <div class="user-info">
                                        <div class="thumb">
                                            <img src="../assets/images/default-user.jpg" alt="history">
                                        </div>
                                        <div class="content">
                                            {{bid.User.UserName}}
                                        </div>
                                    </div>
                                </td>
                                <td data-history="date">{{bid.formattedDate}}</td>
                                <td data-history="time">{{bid.formattedTime}}</td>
                                <td data-history="unit price">${{bid.Bid.toFixed(2)}}</td>
                            </tr>
                        </ng-container>
                        <tr *ngIf="auction?.Bids?.length === 0;">
                            <td style="font-size: 13px; text-align: center;" colspan="4">No bidder yet</td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mb-3 mt-4"></div>
            </div>
        </div>
    </div>
</section>


<!-- Shipping Modal -->
<div class="modal fade" id="shipping-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="shipping modal-body" style="position: relative;">
            <img data-dismiss="modal" class="cross-icon" src="../assets/images/modals/cross-icon.png" alt="cross-icon">
            <div>
                <h4 class="title">Shipment Price:</h4>
            </div>
            <div class="message">
                <div *ngFor="let rate of shippingRates;">{{rate?.Country}} : {{rate?.RateCurrency}}{{rate?.Rate}}</div>
            </div>
        </div>
      </div>
    </div>
  </div>