<section class="verification-process">
    <img style="position: absolute; top: 0; width: 100%;" src="../assets/images/verification/verification-top-banner.png" alt="">
    <img class="left-car" src="../assets/images/verification/left-banner-car.png" alt="">
    <img class="right-car" src="../assets/images/verification/right-banner-car.png" alt="">
    <div class="container" >
        <div style="display: flex; justify-content: center;">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
         
