<div class="main-section business-info" data-aos="zoom-out-up" data-aos-duration="1000">
    <h4 class="title">Business Information</h4>
    <form class="verification-form" [formGroup]="businessForm" (ngSubmit)="onSubmit()">
        <div class="row fields">
            <div class="col-lg-12 field-container">
               <input type="text" formControlName="BusinessName" placeholder="Company Name">
               <div class="error-message" *ngIf="businessForm.get('BusinessName')?.invalid && businessForm.get('BusinessName')?.touched">
                 <span *ngIf="businessForm.get('BusinessName')?.errors?.['required']">Name is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="BusinessPhoneNumber" placeholder="Company Phone Number">
               <div class="error-message" *ngIf="businessForm.get('BusinessPhoneNumber')?.invalid && businessForm.get('BusinessPhoneNumber')?.touched">
                 <span *ngIf="businessForm.get('BusinessPhoneNumber')?.errors?.['required']">Phone No is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="email" formControlName="BusinessEmail" placeholder="Company Email">
               <div class="error-message" *ngIf="businessForm.get('BusinessEmail')?.invalid && businessForm.get('BusinessEmail')?.touched">
                <span *ngIf="businessForm.get('BusinessEmail')?.errors?.['required']">Email is required.</span>
                <span *ngIf="businessForm.get('BusinessEmail')?.errors?.['email']">Invalid email format.</span>
              </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="BusinessAddress" placeholder="Company Address">
               <div class="error-message" *ngIf="businessForm.get('BusinessAddress')?.invalid && businessForm.get('BusinessAddress')?.touched">
                <span *ngIf="businessForm.get('BusinessAddress')?.errors?.['required']">Address is required.</span>
              </div>
            </div>

            <div class="col-lg-12">
                <div class="file-uploader">
                    <label for="fileInput" *ngIf="!file">
                      <img src="../assets/images/verification/upload-icon.png" alt="Upload Icon" class="upload-icon">
                      <div class="upload-text">
                        <strong>Business Verification</strong>
                        <p>(E.g.Tax Verification Document)</p>
                      </div>
                    </label>
                    <input type="file" id="fileInput" hidden (change)="onFileSelect($event)">
                    <div *ngIf="!file" style="margin-bottom: 19px; color: red;">
                        <span>*</span>
                    </div>

                    <!-- Show selected file name -->
                    <div class="file-name" *ngIf="file">
                        <div style="display: flex; justify-content: space-between;">
                            <div class="name">
                                {{ file }}
                            </div>
                            <div>
                                <img class="remove-btn" src="../assets/images/modals/cross-icon.png" (click)="removeFile()" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin: 10px 0px 30px 0px;">
            <div>
                <a routerLink="/auth/verification/subscription" class="verification-skip-btn">Skip</a>
            </div>
            <div>
                <button type="submit" class="verification-btn">Continue</button>
            </div>
        </div>
    </form>
</div>