<div class="row">
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Personal Details</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Name</div>
                    <div class="info-value">Percy Reed</div>
                </li>
                <li>
                    <div class="info-name">Mobile</div>
                    <div class="info-value">+1 234-567-8925</div>
                </li>
                <li>
                    <div class="info-name">Address</div>
                    <div class="info-value">8198 Fieldstone Dr.La Crosse, WI 54601</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Email & Security</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Email</div>
                    <div class="info-value">infopercyeed.com</div>
                </li>
                <li>
                    <div class="info-name">Password</div>
                    <div class="info-value">*****************</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Verification Documents</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="row dash-pro-body">
                <li class="col-md-4 col-lg-4" style="align-items: center; gap: 10px;margin-left: 50px;">
                    <div><img src="../assets/images/personal-profile/document-logo.png" alt=""></div>
                    <div>Utitlity bill</div>
                </li>
                <li class="col-md-4 col-lg-4" style="align-items: center; gap: 10px;">
                    <div><img src="../assets/images/personal-profile/document-logo.png" alt=""></div>
                    <div>Tax File</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Subscription</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div>
                        <img src="../assets/images/personal-profile/success-logo.png" alt="" style="margin-bottom: 3px;">
                    </div>
                    <div style="color: rgba(44, 110, 73, 1);margin-left: 10px;"> Active Pro</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="dash-pro-item mb-30 dashboard-widget">
            <div class="header">
                <h4 class="title">Business Details</h4>
                <span class="edit"><i class="flaticon-edit"></i> Edit</span>
            </div>
            <ul class="dash-pro-body">
                <li>
                    <div class="info-name">Company Name</div>
                    <div class="info-value">Tech Solutions</div>
                </li>
                <li>
                    <div class="info-name">Phone</div>
                    <div class="info-value">+1 234-567-8925</div>
                </li>
                <li>
                    <div class="info-name">Address</div>
                    <div class="info-value">8198 Fieldstone Dr.La Crosse, WI 54601</div>
                </li>
            </ul>
        </div>
    </div>
</div>
