<div>
    <div class="main-section subscription" data-aos="zoom-out-up" data-aos-duration="1000">
        <h4 class="title">Subscription</h4>
        <div class="subtitle">
            Select the subscription you want to go with
        </div>
        <form class="verification-form">
            <div class="row plans">
                <div class="col-lg-12">
                   <a>Free</a>
                </div>
    
                <div class="col-lg-12">
                    <a>Basic</a>
                </div>
    
                <div class="col-lg-12">
                    <a>Pro</a>
                </div>
    
                <div class="col-lg-12">
                    <a>Business</a>
                 </div>
    
                <div class="col-lg-12">
                    <a>Enterprise</a>
                </div>
            </div>
            <div style="margin: 10px 0px 10px 0px;">
                <div>
                    <a class="verification-btn" data-toggle="modal" data-target="#registration-modal">Complete</a>
                </div>
            </div>
        </form>
    </div>


    <!--============================Email Verified Section=======================-->
  <!-- Modal -->
  <div class="modal fade" id="registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="registration-modal modal-body" style="position: relative;">
            <h3>Registration Complete</h3>
            <div class="message">  
                Welcome to Auto Bid Albania! Your registration is successful. Your documents are now being reviewed by our team. You can start using the website and place bids while you wait for verification.
            </div>
            <div style="text-align: center; padding-top: 10px;">
                <a routerLink="/app/home" class="continue-btn" data-dismiss="modal">Done</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>




