<div class="my-ads">
    <div class="row justify-content-center auction-box" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-inner">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                        <a class="left-status">Active</a>
                        <a class="right-status">Promote ad</a>
                        <a class="bottom-status">Mark as Delivered</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-details">
                    <div class="header">
                        <div style="margin-top: 4px;">
                            <h5>Hyundai Sonata</h5>
                        </div>
                        <div>
                            <a  class="edit">Edit</a>
                            <a  class="delete">Delete</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title">Description</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                    </div>
                    <div class="details">
                        <div style="margin-top: 5px;">
                            <p>Select Maker : <span>Redder </span></p> 
                            <p>Selected Model : <span>2025 </span></p>
                            <p>Selected Year : <span>2025</span></p>
                            <p>Transmission : <span>Honda</span></p>
                            <p>Engine Type : <span>Japan</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p>Starting Price : <span>Redder </span></p> 
                            <p>Reserve Price : <span>2025 </span></p>
                            <p>Buy Now Price : <span>2025</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p class="auction-start-label">Auction Start</p> 
                            <p class="auction-start-time">0d : 1h : 54m : 28s</p> 
                            <p class="auction-end-label">Auction End</p> 
                            <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                        </div>
                    </div>
                    <div class="footer">
                        <img src="../assets/images/my-ads/bid-green.png" alt="">
                        <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center auction-box" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-inner">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                        <a class="left-status">Active</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-details">
                    <div class="header">
                        <div style="margin-top: 4px;">
                            <h5>Hyundai Sonata</h5>
                        </div>
                        <div>
                            <a class="header-status" data-toggle="modal" data-target="#dispute-modal">Raise Dispute</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title">Description</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                    </div>
                    <div class="details">
                        <div style="margin-top: 5px;">
                            <p>Select Maker : <span>Redder </span></p> 
                            <p>Selected Model : <span>2025 </span></p>
                            <p>Selected Year : <span>2025</span></p>
                            <p>Transmission : <span>Honda</span></p>
                            <p>Engine Type : <span>Japan</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p>Starting Price : <span>Redder </span></p> 
                            <p>Reserve Price : <span>2025 </span></p>
                            <p>Buy Now Price : <span>2025</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p class="auction-start-label">Auction Start</p> 
                            <p class="auction-start-time">0d : 1h : 54m : 28s</p> 
                            <p class="auction-end-label">Auction End</p> 
                            <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                        </div>
                    </div>
                    <div class="footer">
                        <img src="../assets/images/my-ads/bid-green.png" alt="">
                        <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                        <a  class="chat-buyer">Chat with Buyer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center auction-box" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-inner">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                        <a class="left-status">Active</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-details">
                    <div class="header">
                        <div style="margin-top: 4px;">
                            <h5>Hyundai Sonata</h5>
                        </div>
                        <div>
                            <a  class="edit">Edit</a>
                            <a  class="delete">Delete</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title">Description</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                    </div>
                    <div class="details">
                        <div style="margin-top: 5px;">
                            <p>Select Maker : <span>Redder </span></p> 
                            <p>Selected Model : <span>2025 </span></p>
                            <p>Selected Year : <span>2025</span></p>
                            <p>Transmission : <span>Honda</span></p>
                            <p>Engine Type : <span>Japan</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p>Starting Price : <span>Redder </span></p> 
                            <p>Reserve Price : <span>2025 </span></p>
                            <p>Buy Now Price : <span>2025</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p class="auction-start-label">Auction Start</p> 
                            <p class="auction-start-time grayed">00 : 00 : 00 : 00</p> 
                            <p class="auction-end-label">Auction End</p> 
                            <p class="auction-end-time grayed">00 : 00 : 00 : 00</p> 
                        </div>
                    </div>
                    <div class="footer">
                        <img src="../assets/images/my-ads/alert-logo.png" alt="">
                        <a  class="alert-message">Admin suspended this ad due to policy violation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center auction-box" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-inner">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                        <a class="left-status">Active</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-details">
                    <div class="header">
                        <div style="margin-top: 4px;">
                            <h5>Hyundai Sonata</h5>
                        </div>
                        <div>
                            <a  class="edit">Edit</a>
                            <a  class="delete">Delete</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title">Description</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                    </div>
                    <div class="details">
                        <div style="margin-top: 5px;">
                            <p>Select Maker : <span>Redder </span></p> 
                            <p>Selected Model : <span>2025 </span></p>
                            <p>Selected Year : <span>2025</span></p>
                            <p>Transmission : <span>Honda</span></p>
                            <p>Engine Type : <span>Japan</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p>Starting Price : <span>Redder </span></p> 
                            <p>Reserve Price : <span>2025 </span></p>
                            <p>Buy Now Price : <span>2025</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p class="auction-start-label">Auction Start</p> 
                            <p class="auction-start-time">0d : 1h : 54m : 28s</p> 
                            <p class="auction-end-label">Auction End</p> 
                            <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                        </div>
                    </div>
                    <div class="footer">
                        <img src="../assets/images/my-ads/bid-green.png" alt="">
                        <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                        <a  class="rate-seller" data-toggle="modal" data-target="#rating-modal">Rate Seller</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center auction-box" data-aos="zoom-out-down" data-aos-duration="1000">
        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-inner">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                        <a class="left-status">Active</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
            <div class="auction-item-6" style="border-radius: 10px;">
                <div class="auction-details">
                    <div class="header">
                        <div style="margin-top: 4px;">
                            <h5>Hyundai Sonata</h5>
                        </div>
                        <div>
                            <a  class="edit">Edit</a>
                            <a  class="delete">Delete</a>
                        </div>
                    </div>
                    <div class="description">
                        <p class="title">Description</p>
                        <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                    </div>
                    <div class="details">
                        <div style="margin-top: 5px;">
                            <p>Select Maker : <span>Redder </span></p> 
                            <p>Selected Model : <span>2025 </span></p>
                            <p>Selected Year : <span>2025</span></p>
                            <p>Transmission : <span>Honda</span></p>
                            <p>Engine Type : <span>Japan</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p>Starting Price : <span>Redder </span></p> 
                            <p>Reserve Price : <span>2025 </span></p>
                            <p>Buy Now Price : <span>2025</span></p>
                        </div>
                        <div class="separator-line"></div>
                        <div style="margin-top: 5px;">
                            <p class="auction-start-label">Auction Start</p> 
                            <p class="auction-start-time">0d : 1h : 54m : 28s</p> 
                            <p class="auction-end-label">Auction End</p> 
                            <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                        </div>
                    </div>
                    <div class="footer">
                        <img src="../assets/images/my-ads/bid-green.png" alt="">
                        <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Dispute Modal -->
<div class="modal fade" id="dispute-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body dispute" style="position: relative;">
            <img data-dismiss="modal" class="cross-icon" src="../assets/images/modals/cross-icon.png" alt="cross-icon">
            <div style="text-align: center;">
                <h4>Dispute</h4>
            </div>
            <form action="">
                <div>
                    <input type="text" class="input-field" placeholder="Ad Subject">
                    <textarea class="input-field" placeholder="Add details of the conflict"></textarea>
                    <div>
                        <label class="dispute-file-uploader">
                            <img src="../assets/images/modals/upload-icon.png" alt="Upload Icon">
                            <span>Add Images or Documents</span>
                            <input type="file" id="fileInput">
                        </label>
                    </div>
                </div>
                <div style="text-align: center; padding-top: 25px;">
                    <a class="continue-btn">Continue</a>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>




  <!-- Rate Seller Modal -->
  <div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="rating modal-body" style="position: relative;">
            <img data-dismiss="modal" class="cross-icon" src="../assets/images/modals/cross-icon.png" alt="cross-icon">
            <div style="text-align: center;">
                <h3>Rate Seller</h3>
            </div>
            <form action="">
                <div>
                    <img style="margin-top: 10px; margin-bottom: 10px;" src="../assets/images/modals/rating-stars.png" alt="">
                    <textarea class="input-field" placeholder="Review"></textarea>
                </div>
                <div style="text-align: center; padding-top: 5px;">
                    <a class="continue-btn">Continue</a>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>