<div class="tab-content">
    <div class="tab-pane fade show active" id="upcoming">
        <div class="row mb-30-none justify-content-center">
            <div class="col-sm-10 col-md-6">
                <div class="auction-item-2" data-aos="zoom-out-down" data-aos-duration="1200">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/car-1.png" alt="car"></a>
                        <div class="rating"><img src="../assets/images/auction-filled-star.png" alt="car"></div>
                        <div class="bid"><img src="../assets/images/auction-bid-red.png" alt="car"></div>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a >Hyundai Sonata</a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <img src="../assets/images/auction-bid-green.png" alt="">
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">$876.00</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <img src="../assets/images/auction-bid-amount.png" alt="">
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">$5,00.00</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="countdown-area">
                            <div class="">
                                <div class="times">
                                    <p #days></p><span style="color: red; font-weight: 700;">:</span>
                                    <p #hours></p> <span style="color: red; font-weight: 700;">:</span>
                                    <p #minutes></p> <span style="color: red; font-weight: 700;">:</span>
                                    <p #seconds></p>
                                  </div>                                                  
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div> -->
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_counter26"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a (click)="changePage('bid-detail')" class="submit-bid-btn">SUBMIT A BID</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-6">
                <div class="auction-item-2" data-aos="zoom-out-down" data-aos-duration="1100">
                    <div class="auction-thumb">
                        <a ><img src="../assets/images/car-1.png" alt="car"></a>
                        <div class="rating"><img src="../assets/images/auction-filled-star.png" alt="car"></div>
                        <div class="bid"><img src="../assets/images/auction-bid-red.png" alt="car"></div>
                    </div>
                    <div class="auction-content">
                        <h6 class="title">
                            <a >Hyundai Sonata</a>
                        </h6>
                        <div class="bid-area">
                            <div class="bid-amount">
                                <div class="icon">
                                    <img src="../assets/images/auction-bid-green.png" alt="">
                                </div>
                                <div class="amount-content">
                                    <div class="current">Current Bid</div>
                                    <div class="amount">$876.00</div>
                                </div>
                            </div>
                            <div class="bid-amount">
                                <div class="icon">
                                    <img src="../assets/images/auction-bid-amount.png" alt="">
                                </div>
                                <div class="amount-content">
                                    <div class="current">Buy Now</div>
                                    <div class="amount">$5,00.00</div>
                                </div>
                            </div>
                        </div>
                        <div class="countdown-area">
                            <div class="countdown">
                                <div id="bid_counter27"></div>
                            </div>
                            <span class="total-bids">30 Bids</span>
                        </div>
                        <div class="text-center">
                            <a (click)="changePage('bid-detail')" class="submit-bid-btn">SUBMIT A BID</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>