<div class="row">
    <div class="col-12" data-aos="zoom-out-down" data-aos-duration="1200">
        <div class="chat dash-pro-item mb-30 dashboard-widget">
            <h4><img src="../assets/images/chat/chat-logo.png" alt=""> Chat</h4>
            <div class="chat-container">
                <div class="sidebar">
                    <ul class="user-list">
                        <li class="user">
                            <img src="../assets/images/chat/user-1.png" alt="Richard Tom">
                            <div class="user-info">
                                <span class="name">Richard Tom</span>
                                <span class="status">Online</span>
                            </div>
                        </li>
                        <li class="user">
                            <img src="../assets/images/chat/user-2.png" alt="Liyana">
                            <div class="user-info">
                                <span class="name">Liyana</span>
                                <span class="status">Online</span>
                            </div>
                        </li>
                        <li class="user">
                            <img src="../assets/images/chat/user-1.png" alt="Kaleshi">
                            <div class="user-info">
                                <span class="name">Kaleshi</span>
                                <span class="status">Online</span>
                            </div>
                        </li>
                        <li class="user">
                            <img src="../assets/images/chat/user-2.png" alt="Riya Tom">
                            <div class="user-info">
                                <span class="name">Riya Tom</span>
                                <span class="status">Online</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="chat-window">
                    <div class="chat-header">
                        <img class="user-img" src="../assets/images/chat/user-1.png" alt="Richard Tom">
                        <div class="header-info">
                            <div class="name">Richard Tom</div>
                            <div class="status">Online</div>
                        </div>
                        <div class="options"><img src="../assets/images/chat/kebab-menu.png" alt=""></div>
                    </div>
                    <div class="chat-body">
                        <div class="message received">
                            <p>Hey, how's it going?</p>
                            <span class="timestamp">10:30 AM</span>
                        </div>
                        <div class="message-container">
                            <div class="message sent">
                                <p>Hey! I'm good. What about you?</p>
                                <span class="timestamp">10:32 AM</span>
                            </div>
                        </div>
                        <div class="message received">
                            <p>I'm doing great! Just working on some projects.</p>
                            <span class="timestamp">10:35 AM</span>
                        </div>
                        <div class="message-container">
                            <div class="message sent">
                                <p>Nice! Let me know if you need any help.</p>
                                <span class="timestamp">10:37 AM</span>
                            </div>
                        </div>
                    </div>
                    <div class="chat-footer">
                        <input type="text" placeholder="Type a message">
                        <img class="send-btn" src="../assets/images/chat/send-logo.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>