
.times {
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
    color: rgba(196, 35, 37, 1);
    font-family: sans-serif;
  }

  .times {
    p {
      letter-spacing: -5px;
      position: relative;
      margin: 0; 
      font: normal 40px courier, sans-serif;
    }
  }
