<div class="main-section" data-aos="zoom-out-up" data-aos-duration="1000">
    <h4 class="title">Address Information</h4>
    <form class="verification-form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
        <div class="row fields">
            <div class="col-lg-12">
                <div class="custom-select-wrapper">
                    <app-custom-dropdown formControlName="Country" selectedOption="Country" [options]="['Albania','USA','Canada','Australia','Brazil','India','Pakistan','Bahrain','Dubai']"></app-custom-dropdown>
                    <div class="error-message" *ngIf="addressForm.get('Country')?.invalid && addressForm.get('Country')?.touched">
                        <span *ngIf="addressForm.get('Country')?.errors?.['required']">Please select country.</span>
                    </div>
                </div>
            </div>
           
            <div class="col-lg-12 field-container">
               <input type="text" formControlName="Street" placeholder="Street" required>
               <div class="error-message" *ngIf="addressForm.get('Street')?.invalid && addressForm.get('Street')?.touched">
                 <span *ngIf="addressForm.get('Street')?.errors?.['required']">Street is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="HouseNumber" placeholder="House No." required>
               <div class="error-message" *ngIf="addressForm.get('HouseNumber')?.invalid && addressForm.get('HouseNumber')?.touched">
                 <span *ngIf="addressForm.get('HouseNumber')?.errors?.['required']">House number is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="Address" placeholder="Address" required>
               <div class="error-message" *ngIf="addressForm.get('Address')?.invalid && addressForm.get('Address')?.touched">
                 <span *ngIf="addressForm.get('Address')?.errors?.['required']">Address is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="PostalCode" placeholder="Postal Code" required>
               <div class="error-message" *ngIf="addressForm.get('PostalCode')?.invalid && addressForm.get('PostalCode')?.touched">
                 <span *ngIf="addressForm.get('PostalCode')?.errors?.['required']">Postal code is required.</span>
               </div>
            </div>

            <div class="col-lg-12 field-container">
               <input type="text" formControlName="City" placeholder="City" required>
               <div class="error-message" *ngIf="addressForm.get('City')?.invalid && addressForm.get('City')?.touched">
                 <span *ngIf="addressForm.get('City')?.errors?.['required']">City is required.</span>
               </div>
            </div>
        </div>
        <div>
            <button type="submit" class="verification-btn">Continue</button>
        </div>
    </form>
</div>