<h6 style="border-bottom: 1px solid rgba(203, 203, 203, 1); padding-bottom: 5px; margin-bottom: 20px;">Active</h6>
    <div class="row justify-content-center auction-box my-bids" data-aos="zoom-out-down" data-aos-duration="1000">
      <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-inner">
                  <div class="auction-thumb">
                      <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                      <!-- <a class="left-status">Active</a>
                      <a class="right-status">Promote ad</a>
                      <a class="bottom-status">Mark as Delivered</a> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-details">
                  <div class="header">
                      <div style="margin-top: 4px;">
                          <h5>Hyundai Sonata</h5>
                      </div>
                      <!-- <div>
                          <a  class="edit">Edit</a>
                          <a  class="delete">Delete</a>
                      </div> -->
                  </div>
                  <div class="description">
                      <p class="title">Description</p>
                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                  </div>
                  <div class="details">
                      <div style="margin-top: 5px;">
                          <p>Starting Price : <span>$800 </span></p> 
                          <p>Buy Now Price : <span>600</span></p>
                      </div>
                      <div class="separator-line"></div>
                      <div style="margin-top: 5px;">
                          <p class="auction-end-label">Auction End</p> 
                          <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                      </div>
                  </div>
                  <div class="footer" style="text-align: center;">
                      <img src="../assets/images/my-ads/bid-green.png" alt="">
                      <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row justify-content-center auction-box my-bids" data-aos="zoom-out-down" data-aos-duration="1000">
      <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-inner">
                  <div class="auction-thumb">
                      <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                      <!-- <a class="left-status">Active</a>
                      <a class="right-status">Promote ad</a>
                      <a class="bottom-status">Mark as Delivered</a> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-details">
                  <div class="header">
                      <div style="margin-top: 4px;">
                          <h5>Hyundai Sonata</h5>
                      </div>
                      <!-- <div>
                          <a  class="edit">Edit</a>
                          <a  class="delete">Delete</a>
                      </div> -->
                  </div>
                  <div class="description">
                      <p class="title">Description</p>
                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                  </div>
                  <div class="details">
                      <div style="margin-top: 5px;">
                          <p>Starting Price : <span>$800 </span></p> 
                          <p>Buy Now Price : <span>600</span></p>
                      </div>
                      <div class="separator-line"></div>
                      <div style="margin-top: 5px;">
                          <p class="auction-end-label">Auction End</p> 
                          <p class="auction-end-time">0d : 1h : 54m : 28s</p> 
                      </div>
                  </div>
                  <div class="footer" style="text-align: center;">
                      <img src="../assets/images/my-ads/bid-green.png" alt="">
                      <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <h6 style="border-bottom: 1px solid rgba(203, 203, 203, 1); padding-bottom: 5px; margin-bottom: 20px;">Completed</h6>
    <div class="row justify-content-center auction-box my-bids" data-aos="zoom-out-down" data-aos-duration="1000">
      <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-inner">
                  <div class="auction-thumb">
                      <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                      <!-- <a class="left-status">Active</a>
                      <a class="right-status">Promote ad</a>
                      <a class="bottom-status">Mark as Delivered</a> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-details">
                  <div class="header">
                      <div style="margin-top: 4px;">
                          <h5>Hyundai Sonata</h5>
                      </div>
                      <!-- <div>
                          <a  class="edit">Edit</a>
                          <a  class="delete">Delete</a>
                      </div> -->
                  </div>
                  <div class="description">
                      <p class="title">Description</p>
                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                  </div>
                  <div class="details" style="justify-content: start;">
                      <div style="margin-top: 5px;">
                          <p>Starting Price : <span>$800 </span></p> 
                          <p>Buy Now Price : <span>600</span></p>
                      </div>
                  </div>
                  <div class="footer" style="text-align: center;">
                      <img src="../assets/images/my-ads/bid-green.png" alt="">
                      <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                  </div>
              </div>
          </div>
      </div>
    </div>

    <div class="row justify-content-center auction-box my-bids" data-aos="zoom-out-down" data-aos-duration="1000">
      <div class="col-sm-12 col-md-5 col-lg-5 pe-0 auction-left-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-inner">
                  <div class="auction-thumb">
                      <a ><img src="../assets/images/my-ads/car.png" alt="trending"></a>
                      <!-- <a class="left-status">Active</a>
                      <a class="right-status">Promote ad</a>
                      <a class="bottom-status">Mark as Delivered</a> -->
                  </div>
              </div>
          </div>
      </div>
      <div class="ol-sm-12 col-md-7 col-lg-7 ps-0 auction-right-box">
          <div class="auction-item-6" style="border-radius: 10px;">
              <div class="auction-details">
                  <div class="header">
                      <div style="margin-top: 4px;">
                          <h5>Hyundai Sonata</h5>
                      </div>
                      <!-- <div>
                          <a  class="edit">Edit</a>
                          <a  class="delete">Delete</a>
                      </div> -->
                  </div>
                  <div class="description">
                      <p class="title">Description</p>
                      <p class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,</p>
                  </div>
                  <div class="details" style="justify-content: start;">
                      <div style="margin-top: 5px;">
                          <p>Starting Price : <span>$800 </span></p> 
                          <p>Buy Now Price : <span>600</span></p>
                      </div>
                  </div>
                  <div class="footer" style="text-align: center;">
                      <img src="../assets/images/my-ads/bid-green.png" alt="">
                      <a  style="color: rgba(44, 110, 73, 1); font-size: 15px; font-weight: 500;">Last Bid: $876.00</a>
                  </div>
              </div>
          </div>
      </div>
    </div>